@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

/*---------------------General */
body {
    font-family: "Poppins", sans-serif;
    color: #000;
}

.section-header {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    padding-bottom: 30px;
}

/*----------------------Nav */
.navbar {
    background-color: #fff;
    box-shadow: 0px 5px 8px rgba(0,0,0,.2);
    width: 100%;
}

.navmenu {
    list-style: none;
    padding-top: 35px;
    padding-bottom: 8px;
}

.navitem {
    display: inline;
}

.navitem a {
    font-family: Poppins, sans-serif;
    color: #000;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}
.logo {
    left: 0;
    right: 0;
    height: 70px;
    padding: 5px 2px 2px 15px;
}

.navbar-collapse {
    text-align: center;
}

.navbar-toggler {
    color: #000;
    border: none;
}

/*----------------------Cocktail Search */


/*----------------------Footer */

footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    box-shadow: 0px -5px 8px rgba(0,0,0,.2);
}

.footer-logo {
    height: 75px;
    padding: 15px 2px 2px 25px;
    float: left;
}

.socials {
    font-size: 35px;
    padding: 18px 0;
    margin: 0;
    
}

.socials li a i {
    color: #000;
    padding: 0 15px;
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socials li a i:hover {
    color: #419177;
}

.footer-item {
    float: right;
    padding: 30px 25px 2px 2px;
    font-size: 12px;
}