@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

/*---------------------General */
body {
    font-family: "Poppins", sans-serif;
    color: #000;
}

.section-header {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 20px;
    font-weight: 550;
    padding-bottom: 15px;
    line-height: 1.5;
}

/*----------------------Nav */
.navbar {
    background-color: #fff;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.navmenu {
    list-style: none;
    padding-top: 10px;
}

.navitem {
    display: inline;
}

.navitem a {
    font-family: "Poppins", sans-serif;
    color: #000;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navitem :hover {
    color: #7fadc3;
}

.logo {
    left: 0;
    right: 0;
    height: 45px;
    padding: 2px 2px 2px 15px;
}

.navbar-collapse {
    text-align: center;
}

.navbar-toggler {
    color: #000;
    border: none;
}

/*----------------------Cocktail Search */
.search-button {
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    background-color: #7fadc3;
    border-radius: 6px;
    border: none;
}

.search-button:active {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #7fadc3;
}

.cocktail {
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.cocktail-image {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.cocktail-result {
    font-weight: 250;
}

.cocktail-info {
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 7px;
}

.cocktail-name {
    padding-top: 20px;
}

.search-image {
    background-size: cover;
    min-height: 80vh;
    background: url("../images/unsplashcocktaillight.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/*----------------------Info */
.info-image {   
    height: 40vw;
    background: url("../images/unsplashcocktaillight.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.hero-text-top {
    color: #fff;
    margin: 5px 10px 10px 10px;
    padding: 60px 10px 10px 20px;
}

.hero-text-middle {
    color: #fff;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 20px 20px;
}

.hero-text-bottom {
    color: #fff;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 20px 20px;
}

.row h5 {
    line-height: 2;
    font-weight: 300;
}

.tips-icon {
    width: 120px;
    margin: 5px;
    padding: 20px;
}

.row p {
    margin: auto;
    line-height: 2;
    font-weight: 350;
    padding-left: 15px;
    padding-right: 15px;
}

/*----------------------Contact */
.form {
    padding-top: 50px;
    margin: 10px auto;
    max-width: 70%;
}

.form input {
    margin-bottom: 20px;
}

button[type="submit"] {
    text-align: center;
    background-color: #7fadc3;
    color: #fff;
    margin: 30px;
    border: none;
}

.contact-image {   
    height:75vh;
    background: url("../images/unsplashcocktaillight.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/*----------------------Footer */

footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    box-shadow: 0px -5px 8px rgba(0,0,0,.2);
}

.footer-logo {
    height: 75px;
    padding: 15px 2px 2px 25px;
    float: left;
}

.socials {
    font-size: 35px;
    padding: 18px 0;
    margin: 0;
    
}

.socials li a i {
    color: #000;
    padding: 0 15px;
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socials li a i:hover {
    color: #7fadc3;
}

.footer-item {
    float: right;
    padding: 30px 25px 2px 2px;
    font-size: 12px;
}

/*----------------------Media Queries */
@media screen and (max-width: 840px) {
    .info-image {
        height: 50vh;
    }
}

@media screen and (max-width: 440px) {
    .info-image {
        height: 150vw;
    }
}
